* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: rgba(1, 78, 86, 1);
}

.container {
	max-width: 1140px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.header {
	padding-top: 73px;
	padding-bottom: 73px;
}

.header__container {
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	margin-right: 80px;
}

.nav {
	margin-right: auto;
	display: flex;
	gap: 40px;
}

.nav__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 1,5;
	color: #fff;
  transition: color 0.4s ease, opacity 0.4s ease ;
}

.nav__link:hover {
  color: rgba(246, 126, 126, 1);
}

.nav__link:active {
  opacity: 0.6;
}

.btn {
	border: 2px solid #fff;
	padding: 8px 38px;
	border-radius: 24px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1,5;
  color: #fff;
  transition: all 0.4s ease;
}

.btn:hover {
background-color: #fff;
color: black;
}

.btn:active {
  opacity: 0.6;
}
